body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}
*,
*:before,
*:after
{
    box-sizing: border-box;
}

h1, h2, h3, h3, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center
    no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 50px auto;
    text-align: center;

}

.intro_suptitle {
    font-size: 62px;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;

}

.intro_title {
    font-size: 120px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro_title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}


/* Header */
.header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}



/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;

}

.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:hover:after {
    display: block;
    opacity: 1;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}



/* Slider */
.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 10px;

}

.slider_item {
    width: 15%;
    padding: 20px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: .7;


    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active:before {
    content: "";
    width: 70px;
    height: 3px;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
    background-color: #f38181;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}




